{{#each comments}}
<div class="row justify-content-center my1">
    <div class="card col-sm-12 col-md-10 col-lg-10 justify-content-center align-content-center my05">

        <img src="{{user_image}}" alt="">

        <div class="col-sm-12 col-md-8 col-lg-12 item-center">
            <h4>{{user_name}}</h4>
            <p>"{{comment}}"</p>
        </div>
    </div>
</div>


{{/each}}


{{!-- <div class="row j">
    <div class="card col-sm-12 col-md-10 col-lg-10 my05">
        <div class="space-between">
            <div class="col-sm-12 col-md-4 col-lg-4">
                <img src="{{user_img}}" alt="">
            </div>
            <div class="col-sm-12 col-md-8 col-lg-8">
                <h2 class="my1">{{user_name}}</h2>
                <h4 class="my1">"{{comment}}"</h4>
            </div> --}}