{{>modal}}
<h1>Image page</h1>

{{!-- //Displaying Image with author and date --}}
<h3>{{img_name}}</h3>
<img src="{{img_url}}">
<a href="{{author_url}}">By: {{author_name}}</a>

{{!-- Displaying all comments for image --}}
<div>
  {{#each comments}}
  <p>{{user_name}}</p>
  <p>{{user_img}}</p>
  <p>{{date}}</p>
  <p>{{comment}}</p>
  {{/each}}
</div>

{{!-- A form for making a new comment --}}
<form action="/newComment" method='post'>
  <div class="image-comment-name">
    <label>Name
      <input type="text" name="name">
    </label>
  </div>

  <div class="image-comment-content">
    <label>Content
      <textarea type="text" name="email"></textarea>
    </label>
  </div>
  <input type="submit" value="Submit">
</form>