<div class="container">
  {{>navbar}}
  {{!-- A modal for submitting new img --}}
  {{>modal}}

  <a href="/image/{{next_id}}">next image</a>
  <a href="/image/{{prev_id}}">previous image</a>
  {{!-- //Displaying Image with author and date --}}

  {{!-- //Displaying Image with author and date --}}




  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 item-center">
      <h2 class="my1">{{img_name}}</h2>
      <div class="image-center">
        <img src="{{img_url}}">
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 item-center my1">
      <a href="{{author_url}}" target="__blank">By: {{author_name}}</a>
    </div>
  </div>



  {{!-- Displaying all comments for image --}}

  <div class="item-center">
    {{>comments}}
  </div>

  {{!-- A form for making a new comment --}}
  {{>commentForm}}


</div>